@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400&family=Poppins:wght@500&display=swap');
:root {
    --text: white;
    --background: #121212;
    --primary: #332940;
    --secondary: #b9e6f3;
    --accent: rgb(98, 233, 143);
    --nav-bg:#1F1B24;
    --nav-border:#14434b;
}

body {
    display: flex;
    flex-direction: column;
    background: var(--background);
    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
    color: var(--text);
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}
img {
    user-select: none;
}


h2 {
    font-family: 'Oswald', sans-serif;
}

h1 {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1.3px;
    word-spacing: 1.5px;
}

a {
    text-decoration: none;
    color:gold;
    letter-spacing: 2px;
    font-weight: bold;
}

p {
    font-size: medium;
    font-family: 'Poppins', sans-serif;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}